<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.sweetpark.sqltuner.core.mapper.FullFeaturesMapper">

    <sql id="commonColumns">
        payment_id, order_id, amount, status
    </sql>

    <select id="selectWithAllTags" resultType="map">
        SELECT
        <include refid="commonColumns" />
        , <include refid="missingColumns" />
        FROM payments
        <where>
            <if test="amount != null">
                AND amount > #{amount}
            </if>
            <choose>
                <when test="status != null">
                    AND status = #{status}
                </when>
                <otherwise>
                    AND status = 'PENDING'
                </otherwise>
            </choose>
            AND payment_id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            <![CDATA[ AND amount <= 1000000 ]]>
        </where>
    </select>

    <select id="selectWithTrimAndOtherwise" resultType="map">
        <bind name="pattern" value="'%' + keyword + '%'" />
        SELECT * FROM payments
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            OR status = 'ACTIVE'
        </trim>
        <choose>
            <otherwise>
                ORDER BY created_at DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insertPayment">
        INSERT INTO payments (payment_id, order_id, amount, status)
        VALUES (#{paymentId}, #{orderId}, #{amount}, #{status})
    </insert>

    <update id="updatePayment">
        UPDATE payments
        <set>
            amount = #{amount},
            status = #{status},
        </set>
        WHERE payment_id = #{paymentId}
    </update>

    <delete id="deletePayment">
        DELETE FROM payments WHERE payment_id = #{paymentId}
    </delete>

    <select id="emptyWhereQuery" resultType="map">
        SELECT * FROM payments
        <where>
        </where>
    </select>

</mapper>
